.form {
  display: block;
  width: 290px;
  padding: 0 15px;
  margin: 0 auto;
}

.form__title {
  font-family: "Alumni Sans", sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 34px;
}

.form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  color: $base-white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba($color: $base-white, $alpha: 0.6);
  margin-bottom: 35px;
  padding: 6px;
  padding-left: 0;

  &::placeholder {
    color: $base-white;
  }

  &:focus {
    outline: 1px solid $base-white;
  }

  &:hover:not(:disabled) {
    border-bottom: 1px solid $base-white;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.form__button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: 1px solid $base-white;
  color: $base-white;
  cursor: pointer;
  padding: 20px 5px 22px 5px;

  &:hover:not(:disabled) {
    border: 1px solid rgba($color: $base-white, $alpha: 0.6);
  }

  &:disabled {
    opacity: 0.3;
  }
}
