.header {
  color: $base-white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 4px;
  margin-bottom: 57px;
}

.header__tel {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 10px 15px;
  padding-right: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .header {
    padding-top: 21px;
    margin-bottom: 21px;
  }

  .header__tel {
    letter-spacing: 0.02em;
  }
}

@media (min-width: $desktop-width) {
  .header {
    margin-bottom: 49px;
  }

  .header__tel {
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0;
  }
}
